/* Estilo geral do container DataSummary */
.data-summary-container {
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo para o botão Voltar */
  .back-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    background-color: #d32f2f;
  }

  /* Estilo para o título "Pesos" */
  .summary-item strong {
    display: block;
    font-size: 18px;
    color: #333;
  }
  
  /* Estilo da lista de colunas */
  .summary-item ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .summary-item ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  /* Estilo para os inputs numéricos */
  .number-input {
    width: 100px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: right;
  }
  
  .number-input:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  /* Estilo para os itens da coluna */
  .column-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  /* Estilo para o botão "Próximo" */
.next-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .next-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .next-button:disabled {
    background-color: #ccc; /* Cinza quando desabilitado */
    cursor: not-allowed; /* Cursor indicando que o botão está desabilitado */
  }
  
  .next-button:hover:enabled {
    background-color: #45a049;
  }
  